.search__box{
    width:100%;
    margin:auto;
    padding:1.2rem;
    background-color: black;
    display: flex;
    justify-content: space-around;

}
.search__box .search__box--input {
    width:20%;
    padding:0.4rem;
    outline:none
}
.search__box .search__box--btn {
    background-color: #41dc56;
}
.search__box .search__box--home {
    background-color: #19a9f7;
}
.search__box .search__box--collection {
    background-color: #d8f422;
}
.search__box .search__box--collection,
.search__box .search__box--home,
.search__box .search__box--btn {
    width:10%;
    color: #333;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search__box__logo {
    width:40%;
}

.search__box .search__box--home:hover,
.search__box .search__box--collection:hover,
.search__box .search__box--btn:hover{
    background-color: #ffffff;
}
  
.logo{
    width:2rem;
    height:2rem;
}
