.search__box{
    width:100%;
    margin:auto;
    padding:1.2rem;
    background-color: black;
    display: flex;
    justify-content: space-around;

}
.search__box .search__box--input {
    width:20%;
    padding:0.4rem;
    outline:none
}
.search__box .search__box--btn {
    width:10%;
    background-color: #41dc56;
    color: #333;
    padding: 10px 20px;
    font-size: 16px;
    
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.search__box .search__box--colection {
    width:10%;
    background-color: #d8f422;
    color: #333;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search__box__logo {
    width:40%;
}

  
  .search__box .search__box--colection:hover,
  .search__box .search__box--btn:hover{
    background-color: #ffffff;
  }
  
